/*/// hover animation gradients ///*/
@property --gradientBackground1 {
	syntax: "<color>";
	initial-value: rgb(255, 255, 255);
	inherits: false;
}
@property --gradientBackground2 {
	syntax: "<color>";
	initial-value: rgb(220, 220, 220);
	inherits: false;
}
@property --gradientBackground3 {
	syntax: "<color>";
	initial-value: rgb(255, 255, 255);
	inherits: false;
}

.reservation-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0;
}

.reservation-inner-container {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	width: 95vw;
	height: 50%;
	padding: 20px 15px;
	margin: 5px 10px;
	box-shadow: 2px 6px 10px 3px rgba(0, 0, 0, 0.232);

	transition: ease-in-out 0.3s, --gradientBackground1 0.4s,
		--gradientBackground2 0.5s, --gradientBackground3 0.8s;

	background: linear-gradient(
		90deg,
		var(--gradientBackground1) 0%,
		var(--gradientBackground2) 50%,
		var(--gradientBackground3) 100%
	);
}

.reservation--top-inner-container {
	position: relative;
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}

@keyframes detailsAnimation {
	from {
		height: 20vw;
	}
	to {
		height: 50vw;
	}
}
.--reservation-details {
	/* animation: detailsAnimation 1s; */
	/* height: 50vw; */
}
.reservation--details-container {
	width: 100%;
	margin: 10px 0;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: 0.5px solid rgba(0, 0, 0, 0.123);
}
.details--inner-container {
	background: linear-gradient(
		135deg,
		var(--gradientBackground1) 0%,
		var(--gradientBackground2) 50%,
		var(--gradientBackground3) 100%
	);

	width: 100%;
	height: 30vh;
	margin: 10px 10px;
	padding: 10px 10px;
	border-radius: 10px;
	transition: ease-in-out 0.2s;
	box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.222);
}
.details--extras-list-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}
.details--table-list-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	color: black;
}

.details--inner-container--extraItem {
	background-color: #e2e2e2;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 120px;
	height: 110px;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.375);
	overflow: hidden;
}
.details-label {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 15px;
	color: black;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.152);
	font-size: 90%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.details--extra-name {
	text-align: center;
	color: black;
	font-size: 80%;
	margin-bottom: 5px;
	transform: translateY(-20%);
}
.details--inner-container--extraItem img {
	height: 70%;
	transform: translateY(-15%);
}
.details--extra-price {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0%;
	text-align: center;
	color: black;
	font-size: 80%;
	background-color: #5392ff7b;
	width: 100%;
	font-weight: bold;
	height: 17%;
}

.reservation-item--details-button {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 12%;
	height: 23px;
	left: 0;
	right: 0;
	bottom: 0%;
	text-align: center;
	border: none;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	background-color: #7da8ff;
	color: white;
	transition: ease-in-out 0.15s;
	font-size: 80%;
}
.reservation-item--details-button:hover {
	scale: 1.05;
	background-color: #6498ff;
}

@media only screen and (min-width: 1000px) {
	.reservation--top-inner-container {
		width: 95vw;
	}
	.reservation-item--details-button {
		font-size: 90%;
	}
}

.reservation-inner-container:hover {
	--gradientBackground1: rgba(159, 123, 192, 0.737);
	--gradientBackground2: rgba(152, 210, 255, 0.891);
	--gradientBackground3: rgba(161, 48, 137, 0.827);
	margin: 5px 10px;
	box-shadow: 2px 6px 10px 3px rgba(48, 69, 255, 0.503);
}

.reservation-details {
	width: 70%;
	scale: 0.95;
}
.reservation-options {
	display: flex;
	justify-content: center;
	width: 30%;
}

.reservation-detail {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	color: black;
}

/* .--name {} */
.name {
	font-weight: 600;
}

/* .--email {} */
.email {
	transition: ease-in-out 0.15s;
	font-weight: 600;
	color: rgb(80, 0, 217);
}
.email:hover {
	color: rgb(9, 252, 98);
}

/* .--xPrice {} */
.xPrice {
	font-weight: 600;
}

/* .--date {} */
.date {
	font-weight: 600;
}

/* .--table {} */
.table {
	font-weight: 600;
}

.reservation-status-container {
	color: black;
	width: 170px;
}

.reservartion-status {
	padding: 10px 10px;
	border-radius: 20px;
	font-weight: 600;
	width: 100%;
	text-align: center;
}
.--pending {
	background-color: #5392ff94;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.567);
}
.--confirmed {
	background-color: #d1fe4b94;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.567);
}
.--cancelled {
	background-color: #ff462994;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.567);
}
.--callRequest {
	background-color: #f0f0f094;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.567);
}

/* RESERVATION OPTIONS */
.dropdown {
	position: relative;
	display: inline-block;
	height: 0;
}

.dropbtn {
	background-color: #5392ff;
	color: white;
	padding: 12px 30px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	transition: ease-in-out 0.2s;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.727);
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: transparent;
	width: 100%;
	z-index: 1;
	border-radius: 5px;
	padding: 10px 0px;
}

@keyframes dropdownAnimationEnter {
	from {
		opacity: 0;
		transform: translateY(-20%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes dropdownAnimationEnterMobile {
	from {
		opacity: 0;
		transform: translateY(60%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation: dropdownAnimationEnter 0.4s;
}
@media only screen and (max-width: 650px) {
	.dropdown:hover .dropdown-content {
		animation: dropdownAnimationEnterMobile 0.4s;
	}
}

.dropdown:hover .dropbtn {
	background-color: #98beff;
	scale: 1.05;
}

.dropdown-content-btns-inner-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.dropdown-content-btn {
	padding: 8px 5px;
	width: 50%;
	font-size: 10px;
	font-weight: 600;
	border-width: 0;
	cursor: pointer;
	transition: ease-in-out 0.15s;
}
.dropdown-content-btn:hover {
	scale: 1.15;
}
.dropdown-btn-left {
	border-radius: 8px 0px 0px 8px;
	background-color: #dbff25a9;
	color: white;
}
.dropdown-btn-left:hover {
	border-radius: 8px;
	background-color: #daff23;
	color: black;
}
.dropdown-btn-right {
	border-radius: 0px 8px 8px 0px;
	background-color: #64a2ff9e;
}
.dropdown-btn-right:hover {
	border-radius: 8px;
	background-color: hsl(231, 100%, 60%);
	color: white;
}

.reservation-delete-btn {
	margin: 5px 0px;
	padding: 6px 0px;
	border-radius: 8px;
	border-width: 0;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: ease-in-out 0.1s;
	background-color: rgb(255, 68, 68);
}
.reservation-delete-btn:hover {
	background-color: rgb(220, 0, 0);
	color: white;
	scale: 1.1;
}
.reservation-callus-btn {
	margin: 5px 0px;
	padding: 6px 0px;
	border-radius: 8px;
	border-width: 0;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: ease-in-out 0.1s;
	background-color: rgb(230, 201, 201);
}
.reservation-callus-btn:hover {
	background-color: rgb(255, 255, 255);
	scale: 1.1;
}

@media only screen and (max-width: 650px) {
	.reservation-detail {
		font-size: 14px;
	}
	.dropdown {
		position: absolute;
		top: 5%;
		right: 5%;
		scale: 0.95;
	}
	.reservation-status-container {
		position: absolute;
		top: 5%;
		right: 30%;
		scale: 0.75;
		width: 25%;
	}
}
@media only screen and (max-width: 510px) {
	.dropdown {
		top: 0%;
		right: -2%;
		scale: 0.8;
	}
	.reservation-status-container {
		top: -5%;
		right: 24%;
		scale: 0.6;
		width: 35%;
		font-size: 20px;
	}
}
