.reservationsList-container {
	background-color: rgb(232, 232, 232);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

@media only screen and (max-width: 800px) {
	.reservationsList-container {
		align-items: center;
	}
}

.reservations-list {
	overflow: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	transition: ease-in-out 0.5s;
	height: 100%;
}

.item-enter {
	opacity: 0;
	transform: translateX(500px);
}
.item-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 800ms ease-out, transform 700ms ease-out;
}
.item-exit-active {
	opacity: 0;
	transform: translateX(-1000px);
	transition: opacity 600ms ease-out, transform 700ms ease-out;
}

.empty-list-loading {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reservations-no-data {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 24px;
	text-align: center;
}
