.manager-container {
	background-color: rgb(232, 232, 232);
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	transition: ease-in-out 0.5s;
}

.manager-inner-container {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	align-content: flex-start;
}

.manager-manage {
	background-color: rgb(185, 185, 185);

	width: calc(100vw * 0.45);
	height: calc(100vw * 0.2);
	margin: 20px 0;
	border: 3px solid black;
	border-radius: 20px;
}
