.manager-container {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	transition: ease-in-out 0.5s;
}

.manager-inner-container {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	align-content: flex-start;
}

.manager-manage {
	margin: 20px 0;
	border-radius: 10px;
	transition: ease-in-out 0.2s;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
}

@media only screen and (min-width: 900px) {
	.manager-manage {
		width: calc(100vw * 0.45);
		height: calc(100vw * 0.2);
	}
}
@media only screen and (max-width: 900px) {
	.manager-manage {
		width: calc(100vw * 0.7);
		height: calc(100vw * 0.35);
	}
}

.manage-available-extras-list {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	overflow-x: none;
}
