.manage-restaurant--inner-box {
	position: relative;
	display: flex;
	justify-content: center;
	height: 50%;
	min-height: 200px;
	width: 70%;
	min-width: 390px;
	max-width: 550px;
	margin: 20px 20px 20px 20px;
	border-radius: 30px;
	box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.2);
}
.inner-box--inner-container {
	display: flex;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px 10px;
}
.inner-box--inner-container--wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

fieldset.manage-restaurant--inner-box {
	border: 2px solid rgba(176, 176, 176, 0.407);
}
.manage-restaurant--inner-box > legend {
	color: rgb(142, 142, 142);
	margin-left: 30px;
	background-color: transparent;
	font-size: 15px;
	padding: 0 3px;
}
