* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
}

body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	background-color: #121212 !important;
	color: #fff !important;
	font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
}

p,
a,
li,
button,
ul {
	margin: 0;
	padding: 0;
	line-height: normal;
	text-decoration: none;
}

.app-container {
	height: 100vh;
	margin: 0;
}

.inner-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: rgb(103, 87, 95); */
	background-color: rgb(201, 241, 255);
}

.box-container {
	/* height: 50vh; */
	min-height: 250px;
	/* width: 40vw; */
	min-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background-color: rgb(107, 107, 107);
}
