/* @keyframes tagAdded {
	from {
		scale: 0;
	}

	to {
		scale: 1;
	}
} */

.tag-container {
	height: 40px;
	flex: 0 1 calc(33.333% - var(--gap));
	padding: 0 2%;
	background-color: hsl(212, 83%, 14%);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 80%;
	text-shadow: 1px 1px 3px hsla(0, 0%, 100%, 0.7);
	user-select: none;
	cursor: pointer;
	transition: ease-in-out 0.15s;

	/* scroll-snap-align: start; */
}
.tag-container:hover {
	background-color: hsl(212, 83%, 25%);
	scale: 1.05;
}
.tag-container:active {
	scale: 0.95;
}

@media (width < 780px) {
	.tag-container {
		flex: 0 1 calc(25% - var(--gap));
	}
}

.tag-title {
}
.tag-available {
	background-color: rgb(43, 11, 69);
	border: 2px solid white;
}
.tag-picked {
	/* animation: tagAdded 0.3s; */
	background-color: rgb(21, 49, 54);
	border: 2px solid white;
}
