.container {
	display: flex;
	height: 35vh;
	flex-direction: column;
	justify-content: space-around;
}

.container h2 {
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inputs-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.input-field {
	height: 27px;
	border-radius: 5px;
	padding: 5px 5px;
	margin: 8px 0;
	width: 140%;
}

.buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	margin-top: 10px;
	/* background-color: aliceblue; */
}

.button {
	font-family: cursive;
	width: 200%;
	border-radius: 15px;
	border: 0.5px solid white;
	background-color: transparent;
	background-color: rgba(75, 65, 185, 0.593);
	padding: 5px 0;
	cursor: pointer;
	color: #ffffff;
	transition: 0.15s ease-in-out;
	font-size: 16px;
}

.button:hover {
	background-color: rgb(35, 4, 72);
	box-shadow: 0 0 3px 1px white;
}
