@keyframes imagePreview {
	from {
		scale: 0;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

.new-table-outer-container--image-container {
	--imagePreview-container-minWidth: 14rem;

	min-width: var(--imagePreview-container-minWidth);
	max-width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 0.08rem solid black;
	background-color: rgb(255, 255, 255);
	flex-direction: column;
	margin: 1rem 0;
	scale: 0;
	opacity: 0;

	animation: imagePreview 0.5s forwards;
}
.new-table-outer-container--image-preview {
	max-width: 80%;
	max-height: 90%;
	margin-bottom: 1rem;
}
.newTable-image--buttons-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 5px 0;
}
.newTable-image--buttons-container > button {
	font-weight: 600;
	font-size: 1rem;
	width: 35%;
	min-width: calc(var(--imagePreview-container-minWidth) * 0.4);
	height: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.15s;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.22);
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.newTable-image--buttons-container > button:hover {
	color: white;
}
.newTable-image--crop-button {
	background-color: hsl(219, 100%, 86%);
}
.newTable-image--crop-button:hover {
	background-color: hsl(219, 100%, 80%);
}
.newTable-image--reset-button {
	background-color: hsl(0, 100%, 86%);
}
.newTable-image--reset-button:hover {
	background-color: hsl(0, 100%, 80%);
}
.manageTable--canvas-preview {
	max-width: 100%;
	max-height: 200px;
	display: none;
}

@media only screen and (width < 670px) {
	.new-table-outer-container--image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 0;
		padding: 10px;
		max-width: 90%;
	}
	.new-table-outer-container--image-preview {
		max-width: 100%;
	}
}
