.navbar-container {
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 9999;
	transition: 0.3s ease-in-out;
	background-color: rgb(95, 92, 152);
}

.navbar-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 10px;
	padding: 0 15px;
	background-color: rgb(67, 134, 215);
	border-radius: 20px;
	border-width: 0;
	cursor: pointer;
	transition: 0.15s ease-in-out;
	opacity: 0.7;
	color: white;
	height: 40px;

	box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.625);
}

.restaurant-logo {
	opacity: 1;
}

.navbar-button-active {
	background-color: rgb(255, 255, 255);
	color: black;
	opacity: 1;
}

.navbar-button:first-child {
	margin-right: auto;
}

@media only screen and (max-width: 550px) {
	.navbar-button:first-child {
		display: none;
	}
	.navbar-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.navbar-button:hover {
	background-color: rgb(65, 223, 255);
}

.restaurant-logo:hover {
	background-color: rgb(36, 146, 255);
}

.logout-button {
	opacity: 1;
	background-color: rgb(209, 209, 209);
	font-weight: 600;
	font-size: 15px;
	padding: 5px 15px;
	transition: ease-in-out 0.2s;
}
.logout-button:hover {
	background-color: rgb(255, 255, 255);
}

/* DROPDOWN */

.navbar-manager {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-dropdown {
	position: relative;
	display: inline-block;
	transition: ease-in-out 0.2s;
}

.nav-dropbtn {
	background-color: rgb(67, 134, 215);
	color: white;
	padding: 12px 40px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.nav-dropContent-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 115, 255, 0.642);
	color: white;
	padding: 8px 0px;
	margin: 5px 0;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	transition: ease-in-out 0.15s;
	box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.625);
}
.nav-dropContent-button:hover {
	scale: 1.05;
	box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.137);
	background-color: rgb(255, 255, 255);
	color: black;
}
.nav-dropbtn-active {
	background-color: rgb(255, 255, 255);
	color: black;
	opacity: 1;
}

.nav-dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
	border-radius: 0 0 20px 20px;
	padding: 20px 10px;
	margin-top: 4px;
	scale: 1.05;

	background-color: #adadad2d;
	backdrop-filter: blur(7px);
	box-shadow: 0px 2px 2px 0 rgba(132, 132, 132, 0.262);
}

@keyframes navDropdownAnimationEnter {
	from {
		opacity: 0;
		transform: translateY(-20%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.nav-dropdown:hover .nav-dropdown-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	animation: navDropdownAnimationEnter 0.2s;
}
.nav-dropdown:hover .nav-dropbtn {
	filter: blur(0.7px);
	scale: 1.05;
	border-radius: 20px 20px 0 0;
	min-height: 49px;
}

.nav-dropdown-content-btns-inner-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.nav-dropdown-content-btn {
	padding: 8px 5px;
	width: 50%;
	font-size: 10px;
	font-weight: 600;
	border-width: 0;
	cursor: pointer;
	transition: ease-in-out 0.15s;
}
.nav-dropdown-content-btn:hover {
	scale: 1.15;
}
.nav-dropdown-btn-left {
	border-radius: 8px 0px 0px 8px;
	background-color: #dbff25a9;
	color: white;
}
.nav-dropdown-btn-left:hover {
	border-radius: 8px;
	background-color: #daff23;
	color: black;
}
.nav-dropdown-btn-right {
	border-radius: 0px 8px 8px 0px;
	background-color: #64a2ff9e;
}
.nav-dropdown-btn-right:hover {
	border-radius: 8px;
	background-color: hsl(231, 100%, 60%);
	color: white;
}

.nav-reservation-delete-btn {
	margin: 5px 0px;
	padding: 6px 0px;
	border-radius: 8px;
	border-width: 0;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: ease-in-out 0.1s;
	background-color: rgb(255, 68, 68);
}
.nav-reservation-delete-btn:hover {
	background-color: rgb(220, 0, 0);
	color: white;
	scale: 1.1;
}
.nav-reservation-callus-btn {
	margin: 5px 0px;
	padding: 6px 0px;
	border-radius: 8px;
	border-width: 0;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: ease-in-out 0.1s;
	background-color: rgb(230, 201, 201);
}
.nav-reservation-callus-btn:hover {
	background-color: rgb(255, 255, 255);
	scale: 1.1;
}
