.navbar-container {
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 9999;
	transition: 0.3s ease-in-out;
	background-color: rgb(95, 92, 152);
}

.navbar-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 10px;
	padding: 0 15px;
	background-color: rgb(67, 134, 215);
	border-radius: 20px;
	border-width: 0;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	opacity: 0.7;
	color: white;
	height: 40px;
}

.restaurant-logo {
	opacity: 1;
}

.navbar-button-active {
	background-color: rgb(255, 255, 255);
	color: black;
	opacity: 1;
}

.navbar-button:first-child {
	margin-right: auto;
}

.navbar-button:hover {
	background-color: rgb(100, 229, 255);
}

.restaurant-logo:hover {
	background-color: rgb(36, 146, 255);
}

.logout-button {
	opacity: 1;
	background-color: rgb(255, 59, 59);
	color: white;
	font-weight: 600;
	font-size: 15px;
	padding: 5px 15px;
}
.logout-button:hover {
	background-color: rgb(255, 0, 0);
}
