.react-switch-switch {
	height: 0;
	width: 0;
	visibility: hidden;
}

.react-switch-label {
	--switch-width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	width: var(--switch-width);
	height: 100%;
	background: grey;
	border-radius: 100px;
	position: relative;
	transition: background-color 0.4s;
}

.react-switch-label .react-switch-button {
	--switch-button-height: 1.5rem;
	content: "";
	position: absolute;
	left: 2%;
	width: calc(var(--switch-button-height));
	height: var(--switch-button-height);
	border-radius: 100px;
	transition: 0.2s;
	background: #fff;
	box-shadow: 1px 2px 2px 0 rgba(10, 10, 10, 0.263);
}

.react-switch-switch:checked + .react-switch-label .react-switch-button {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
	width: 60%;
}

.react-switch-label:hover .react-switch-button {
	background: rgb(141, 245, 255);
}
